* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f4f4f5;
  font-family: var(--font-victor-mono), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inline-link {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.inline-link:hover {
  text-decoration: underline;
}
